<div layout="column" flex class="anthe-content" ng-cloak>

  <div ng-include="'app/components/banner/bannerSearchBar.html'"></div>
  <div ng-include="'app/components/anthejtab/chord_view.html'"></div>

  <br>
  <br hide-xs>
  <div layout="row" layout-sm="column" layout-wrap class="anthe-song-content-container">

    <!-- first col -->
    <div layout="column" flex-gt-sm="66">
      <div layout="column" flex>
        <div class="anthe-song-content-container">
          <md-card layout-padding="70px" class="md-whiteframe-6dp anthe-chord-card ">
            <md-card-title>
              <md-card-title-text>
                <div class="anthe-headline">
                  <strong>&#9834; {{vm.chord.title}}</strong>
                <span ng-if='vm.chord.songAuthors.length > 0'><em>&nbsp;&#x2606;
                  {{vm.join(vm.chord.singers)}}</em></span>


                  <!-- Note -->
                  &nbsp;
                  <span class="trans_" align="center">
                    <span class="trans_back" onclick="changeAllChord(-1);">&#9837;</span>
                    [<span class="guitarios_chord " align="center" value="{{vm.songTone}}">{{vm.songTone}}</span>]
                    <span class="trans_next" onclick="changeAllChord(1);">&#9839;</span>
                  </span>
                  </span>
                </div>
              </md-card-title-text>
            </md-card-title>
            <br> <!-- separator-->
            <div .md-whiteframe-2dp layout-padding="10">
              <md-card-content ng-href="#vm.chordDetails/{{vm.chord._id}}">
                <div>
                  <div class="anthe-song-content">
                    <div class="anthe-song-content-pre" ng-bind-html="vm.trustedContentHtml" clickable></div>
                  </div>
                  <br>
                  <br>
                  <span> <em>&nbsp;&#119074;&nbsp;{{vm.join(vm.chord.rhythms)}}</em> </span>
                <span ng-if='vm.chord.chordAuthor.length > 0'> <em>
                  &nbsp;&#119083;&nbsp;{{vm.chord.chordAuthor}}</em> </span>
                </div>
              </md-card-content>
            </div>
          </md-card>
        </div>

        <!--chords-->
        <div>
          <div class="md-whiteframe-6dp anthe-chord-card anthe-chord-card-bottom" ng-bind-html="vm.allChordsJoinedStrHtml" layout="row"
               class="anthe-guitarios-chord-card" layout-wrap>
          </div>
        </div>
        <div ng-include="'app/components/banner/footer.html'" ></div>

      </div>

    </div>

    <!-- 2nd col -->
    <div layout="column" flex-gt-sm="33" hide-lt-md hide-xs>

      <!--songs-->
      <div layout-align="center" ng-if='vm.chord.mp3s.length > 0'>
        <md-card layout-padding="70px" class="md-whiteframe-6dp anthe-chord-card">
          <md-chips class="anthe-chords-category anthe-chip">
            <md-chip><strong>&#9836;</strong> Music</md-chip>
          </md-chips>
          <div data-ng-repeat="mp3 in vm.chord.mp3s | limitTo: 3">
            <div class="anthe-headline" column="column" layout-align="center center">

              <div>
                <strong>&#9834; {{vm.join(mp3.singers)}}</strong>
              </div>
              <div>
                <audio controls preload="none">
                  <source ng-src='{{mp3.musicLink | trustUrl}}'/>
                  Your 'lousy' browser not supported music :( >:)
                </audio>
              </div>
            </div>

          </div>
        </md-card>
      </div>

      <!--by rhythm-->
      <div layout-align="center" ng-if='vm.chordsByRhythm.length > 0'>
        <md-card layout-padding="70px" class="md-whiteframe-6dp anthe-chord-card">
          <md-chips class="anthe-chords-category anthe-chip">
            <md-chip><strong>&#9836;</strong>
              <a class="anthe-link-button" href="chordsByRhythm/{{vm.selectedRhythm}}">{{vm.selectedRhythm}}</a>
            </md-chip>
          </md-chips>
          <div layout-padding="70px"
               data-ng-repeat="chord in vm.chordsByRhythm">
            <div class="anthe-headline">
              <a data-ng-href="chordDetails/{{chord._id}}" class="anthe-link-button">
                    <span>
                      <strong>&#9834;

                        {{chord.title}}

                      </strong>
                    </span>
                <!--<br>-->
                  <span ng-if='chord.songAuthors.length > 0'><em> ~
                    {{vm.join(chord.singers)}}</em></span>
              </a>
            </div>
            <a data-ng-href="chordDetails/{{chord._id}}" class="anthe-link-button">
              <span>{{vm.getStandardDescLength(chord.content, 36)}}</span>
            </a>
          </div>
        </md-card>
      </div>

      <div layout-align="center" ng-if='vm.chordsBySinger.length > 0'>
        <md-card layout-padding="70px" class="md-whiteframe-6dp anthe-chord-card">
          <md-chips class="anthe-chords-category anthe-chip">
            <md-chip> &nbsp;&#x2606;
              <a class="anthe-link-button" href="chordsBySinger/{{vm.selectedSinger}}">
                {{vm.selectedSinger}}
              </a>
            </md-chip>
          </md-chips>
          <div data-ng-repeat="chord in vm.chordsBySinger">
            <div class="anthe-headline">
              <a data-ng-href="chordDetails/{{chord._id}}" class="anthe-link-button">
                    <span>
                      <strong>&#9834; {{chord.title}}</strong>
                    </span>
                <!--<br>-->
                <!--<span ng-if='chord.songAuthors.length > 0'><em>&nbsp;&#127908; &nbsp;-->
                <!--{{vm.join(chord.singers)}}</em></span>-->
              </a>
            </div>
            <a data-ng-href="chordDetails/{{chord._id}}" class="anthe-link-button">
              <span>{{vm.getStandardDescLength(chord.content, 36)}}</span>
            </a>
          </div>
        </md-card>
      </div>
    </div>
  </div>
</div>
