<md-toolbar class="anthe-toolbar">
  <div class="md-toolbar-tools">
    <md-button ng-click="vm.toggleLeft()" class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
    </md-button>
    <!-- <span flex="" hide-gt-xs>guitarios</span> -->
    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin md-svg-icon="assets/icons/dots-vertical.svg"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="vm.showAddDialog($event)">
            <md-icon md-svg-icon="content:add" md-menu-align-target></md-icon>
            Feedback
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.redial($event)">
            <md-icon md-svg-icon="communication:dialpad" md-menu-align-target></md-icon>
            Redial
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button disabled="disabled" ng-click="vm.checkVoicemail()">
            <md-icon md-svg-icon="communication:voicemail"></md-icon>
            Check voicemail
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.toggleNotifications()">
            <md-icon md-svg-icon="social:notifications{{notificationsEnabled ? '_off' : ''}}"></md-icon>
            {{notificationsEnabled ? 'Disable' : 'Enable' }} notifications
          </md-button>
        </md-menu-item>
        
        <md-menu-divider></md-menu-divider>
        <md-menu-item ng-hide="vm.isLoggedIn()" ui-sref="login">
          <md-button>
            <md-icon md-svg-icon="action:input"></md-icon>
            Login
          </md-button>
        </md-menu-item>
        <md-menu-item ng-hide="vm.isLoggedIn()" ui-sref="signup">
          <md-button>
            <md-icon md-svg-icon="action:launch"></md-icon>
            Signup
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="vm.isLoggedIn()">
          <md-button ng-click="vm.logout()">
            <md-icon md-svg-icon="action:exit_to_app"></md-icon>
            Logout
          </md-button>
        </md-menu-item>
        
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
