<div class="anthe-dialog" data-ng-controller="DialogController as vm">
  <md-dialog aria-label="List dialog">
    <md-dialog-content class="anthe-dialog">
      <h2 class="md-title">
        We love your feedback &hearts;
      </h2>
      <form name="projectForm">
        <md-input-container>
          <label>Feedback</label>
          <input md-maxlength="160" required name="feedback" ng-model="vm.newThing" class="anthe-feedback-input">
          <div ng-messages="projectForm.feedback.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">Feedback kindly below 160 twitter-length characters :).</div>
          </div>
        </md-input-container>
      </form>
    </md-dialog-content>
    <div class="md-actions">
      <md-button ng-click="vm.closeDialog()" class="md-primary">
        Cancel
      </md-button>
      <md-button ng-click="vm.addThing()" class="md-primary">
        Save
      </md-button>
    </div>
  </md-dialog>
</div>
