<div layout="column" class="anthe-content" ng-cloak onscroll="alert('haha')">

  <div ng-include="'app/components/banner/bannerSearchBar.html'"></div>

  <br>
  <br data-ng-show="!vm.chordsVisible" ng-cloak>
  <div layout="row" layout-align="center center" class="anthe-rythms-chips" ng-cloak>
    <md-chips data-ng-repeat="rythm in vm.rythms34">
      <md-chip clickable class="anthe-chip" data-ng-class="vm.chipRhythms[rythm]">
      <a class="anthe-link-button"href="chordsByRhythm/{{rythm}}">{{rythm}}</a>
      </md-chip>
    </md-chips>
  </div>
  <div layout="row" layout-align="center center" class="anthe-rythms-chips">
    <md-chips data-ng-repeat="rythm in vm.rythms">
      <md-chip clickable class="anthe-chip" data-ng-class="vm.chipRhythms[rythm]">
      <a class="anthe-link-button" href="chordsByRhythm/{{rythm}}">{{rythm}}</a>
      </md-chip>
    </md-chips>
  </div>
  <br>

  <br>
  <div layout="row" layout-align="center" ngCloak>
    <div class="anthe-canvas-globe" id="myCanvasContainer" ngCloak>
      <canvas min-height="600" min-width="600" id="myCanvas" class="anthe-global">
        <div id="tags">
          <ul ng-cloak>
            <li data-ng-repeat="chord in vm.randomChordsForGlobe" data-ng-hide="true" class="anthe-canvas-searchable"
                onlick="openCanvasSong(this);"><a data-ng-href="chordDetails/{{chord._id}}">{{chord.title}}</a></li>
            <li data-ng-hide="vm.randomChordsForGlobe.length > 0 "><a>I &hearts; Guitarios</a></li>
          </ul>
        </div>
      </canvas>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <div ng-include="'app/components/banner/footer.html'" ng-cloak></div>


  <!-- pagination directive -->

  <script type="text/javascript">
    window.onload = function () {
      try {
        TagCanvas.Start('myCanvas', 'tags', {
          textColour: '#ffffff',
          outlineColour: '#A9A9A9',
          reverse: true,
          depth: 0.8,
          maxSpeed: 0.05
        });
      } catch (e) {
        // something went wrong, hide the canvas container
        document.getElementById('myCanvasContainer').style.display = 'none';
      }
    };
  </script>
</div>
