<div layout="column" flex class="anthe-content">

	<div layout="column" layout-padding='10px'>
		<div layout="row" layout-align="center center" class="anthe-banner fade" data-ng-show="vm.bannerVisible">
			<img src="/assets/images/guitarios.png">
		</div>
		<div layout="row" layout-align="center center" class="anthe-banner fade" data-ng-show="!vm.bannerVisible">
			<img src="/assets/images/guitarios_small.png">
		</div>
	</div>
	
	<div layout="column" layout-align="center center" >
		<md-autocomplete class="anthe-searchbox"
	          ng-disabled="vm.isDisabled"
	          md-no-cache="vm.noCache"
	          md-selected-item="vm.selectedItem"
	          md-search-text-change="vm.searchTextChange(searchText)"
	          md-search-text="vm.searchText"
	          md-selected-item-change="vm.selectedItemChange(item)"
	          md-items="item in vm.querySearch(vm.searchText)"
	          md-item-text="item.title"
	          md-min-length="0"
	          placeholder="Search for your favorite songs?">
	        <md-item-template>
	        	<div layout="row">
	        		<md-chips>
	        			<md-chip> {{item.rhythm}} </md-chip>
	        		</md-chips>
	          		<span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.title}}</span>
	          		<!-- <br> -->
	          		<!-- <p md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.content}}</p> -->

	          	</div>
	        </md-item-template>
	        <md-not-found>
	          Opps, not found. 
	          <a ng-click="vm.randomChord(searchText)">Try something random?</a>
	        </md-not-found>
	      </md-autocomplete>
	</div>

	<br>
	<br data-ng-if="vm.bannerVisible">
	<div layout="row" layout-align="center center" class="anthe-rythms-chips">
		<md-chips data-ng-repeat="rythm in vm.rythms">
	      <md-chip ng-click="vm.toggleShowChords(rythm)" data-ng-class="vm.chipRhythms[rythm]">{{rythm}}</md-chip>
	    </md-chips>
    </div>

	<br>
	<br>
	<br>
    <div class="anthe-quote fade" layout-align="center" data-ng-show="vm.chordsVisible" >
	  <md-card ng-repeat="chord in vm.chordsByRhythm" layout-padding="70px" class="md-whiteframe-6dp anthe-chord-card" >
	    <md-card-title>
	      <md-card-title-text>
	        <div class="anthe-headline">
	        	<strong>{{chord.title}}</strong>
	        	<span ng-if='chord.songAuthors.length > 0'> ~ <em>{{vm.join(chord.singers)}}</em></span> 

	         <br></div>
	      </md-card-title-text>
	    </md-card-title>
	    
	    <div .md-whiteframe-2dp layout-padding="10">
	      <md-card-content ng-href="#specific/{{chord.id}}">
	        <div>
	        	<p>"{{vm.getStandardDescLength(chord.content)}}"</p>
	        	<span ng-if='chord.rhythms.length > 0'> <em>rythm: {{vm.join(chord.rhythms)}}</em> </span>  
	        	<br>
	        	<span ng-if='chord.chordAuthor.length > 0'> <em>chord by: {{chord.chordAuthor}}</em> </span>  
	        </div>
	      </md-card-content>
	    </div>
	  </md-card>
	</div>

	<div layout="column" flex></div>
	
	<!-- footer -->
	<div layout="column" flex>
		<footer>
	        <div layout="row" layout-align="center center">
	            <div class="anthe-copyright" layout="row" layout-align="center bottom">
			      <p style="color:white">Copyright © 2016 An The Dung - ABCStudio</p>
			  	</div>
	        </div>
	    </footer>
	</div>
</div>