<md-sidenav class="anthe-sidenav"
  tabindex="2"
  md-component-id="left">
  <!-- Sidenav Left2 -->
  	<md-list flex class="md-dense">
        <md-subheader class="md-no-sticky" class="anthe-subheader"> Artirsts </md-subheader>
		<div class="anthe-8-margin" >
			<md-chips ng-model="vm.singers" name="fruitName" readonly="true" md-max-chips="20">
		        <md-chip-template>
		          <a href="chordsBySinger/{{$chip}}" class="anthe-link-button" data-ng-click="vm.close()"><em>{{$chip}}</em> </a>
		        </md-chip-template>
	      	</md-chips>
	     </div>
	     <!-- <br hide-xs> -->
	     <md-subheader class="md-no-sticky" class="anthe-subheader"> Rhythms </md-subheader>
		<div class="anthe-8-margin" >
			<md-chips ng-model="vm.rhythms" name="fruitName" readonly="true" md-max-chips="20">
		        <md-chip-template>
		          <a href="chordsByRhythm/{{$chip}}" class="anthe-link-button" data-ng-click="vm.close()"><em>{{$chip}}</em> </a>
		        </md-chip-template>
	      	</md-chips>
	     </div>
	</md-list>
</md-sidenav>