<!-- banner and searchbar -->
<div layout="column" layout-padding='10px' hide-xs show-gt-xs>
  <div layout="row" layout-align="center center" class="anthe-banner fade" data-ng-show="vm.bannerVisible">
    <a href="/"> <img src="/assets/images/guitarios.png" data-ng-href="/"> </a>
  </div>
  <div layout="row" layout-align="center center" class="anthe-banner fade" data-ng-show="!vm.bannerVisible">
    <a href="/"> <img src="/assets/images/guitarios_small.png" data-ng-href="/"></a>
  </div>
</div>

<div layout="row" layout-align="center center" class="anthe-banner fade" show-xs hide-gt-xs>
  <a href="/"> <img src="/assets/images/guitarios_small.png" data-ng-href="/"></a>
</div>
