<div layout="column" layout-align="center center">
  <md-autocomplete class="anthe-searchbox"
                   ng-disabled="vm.isDisabled"
                   md-no-cache="vm.noCache"
                   md-selected-item="vm.selectedItem"
                   md-search-text-change="vm.searchTextChange(searchText)"
                   md-search-text="vm.searchText"
                   md-selected-item-change="vm.selectedItemChange(item)"
                   md-items="item in vm.querySearch(vm.searchText)"
                   md-item-text="item.title"
                   md-min-length="3"
                   placeholder="Search for your favorite songs?">
    <md-item-template>
      <a class="anthe-link-button" href="chordDetails/{{item._id}}">
        <div layout="row">
          
          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.title}} - {{item.singers[0]}}</span>
          <!-- <br> -->
          <!-- <p md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.content}}</p> -->
          &nbsp; <md-chips ng-if='vm.join(item.rhythms).length > 0'>
            <md-chip class="anthe-chip" > {{vm.join(item.rhythms)}}
            </md-chip>
          </md-chips>
        </div>
      </a>

    </md-item-template>
    <md-not-found>
      Opps, not found.
      <a href="chordsByRhythm/Everything" class="anthe-link-button">Try everything?</a>
    </md-not-found>
  </md-autocomplete>
</div>
