<div layout="column" layout-align="center center">
  <md-autocomplete class="anthe-searchbox"
                   ng-disabled="vm.isDisabled"
                   md-no-cache="vm.noCache"
                   md-selected-item="vm.selectedItem"
                   md-search-text-change="vm.searchTextChange(searchText)"
                   md-search-text="vm.searchText"
                   md-selected-item-change="vm.selectedItemChange(item)"
                   md-items="item in vm.querySearch(vm.searchText)"
                   md-item-text="item.title"
                   md-min-length="3"
                   placeholder="Search for your favorite songs?">
    <md-item-template>
      <a class="anthe-link-button" href="chordDetails/{{item._id}}">
        <div layout="row">
          <md-chips ng-if="{{item.rhythms.length > 0}}">
            <md-chip class="anthe-chip"> {{vm.join(item.rhythms)}}</md-chip>
          </md-chips>
          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.title}}</span>
          <!-- <br> -->
          <!-- <p md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.content}}</p> -->

        </div>
      </a>

    </md-item-template>
    <md-not-found>
      Opps, not found.
      <a ng-click="vm.randomChord(searchText)">Try something random?</a>
    </md-not-found>
  </md-autocomplete>
</div>
